@using Zoombraco.Models
@using UmbracoExample.Site.Models
@using Zoombraco.Helpers
@inherits Zoombraco.Views.ZoombracoViewPage<RenderPage<FormPage>>
@{ Html.RenderPartial("~/Views/Partials/Shared/_HeroPanel.cshtml", Model.Content);}

<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <h1>@Model.Content.Title</h1>
        @Model.Content.ContentBody
        @Umbraco.RenderMacro("FormsRenderForm", new { FormGuid = Model.Content.FormPicker })
    </div>

    <hr>
</div>
@section BodyAssets{
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/mvc/5.1/jquery.validate.unobtrusive.min.js"></script>
}