@using Zoombraco.Models
@using UmbracoExample.Site.Models
@inherits Zoombraco.Views.ZoombracoViewPage<RenderPage<GenericPage>>

@{ Html.RenderPartial("~/Views/Partials/Shared/_HeroPanel.cshtml", Model.Content);}

<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <h1>@Model.Content.Title</h1>
        @Model.Content.ContentBody
    </div>

    <hr>
</div>